:host {
    .books {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .book {
            border: 1px solid #ccc;
            margin: 12px;
            padding: 12px;
        }
    }
}